.faculty-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .faculty-box {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 20px; /* Add some space between the sections */
  }
  
  .faculty-box-heading {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .faculty-description {
    font-size: 1.2em;
    color: #fff;
    line-height: 1.6;
  }
  
  .faculty-sub-heading {
    font-size: 1.5em;
    color: #fff;
    margin-top: 20px;
  }
  
  .faculty-resume-list {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 1em;
    color: #fff;
  }
  
  .faculty-resume-list ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .faculty-resume-list li {
    margin-bottom: 10px;
  }
  
  .faculty-link {
    color: #65B741;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .faculty-link:hover {
    color: #558B2F;
    text-decoration: underline;
  }
  
  .faculty-image-container {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .faculty-prof-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    animation: fadeIn 1.5s ease-in-out;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-faculty-heading {
    animation: slideInFromLeft 1.5s ease-in-out;
  }
  
  .animate-faculty-description {
    animation: slideInFromRight 1.5s ease-in-out;
  }
  
  .animate-faculty-link {
    animation: pulse 2s infinite;
  }
  
  .animate-faculty-sub-heading {
    animation: slideInFromBottom 1.5s ease-in-out;
  }
  
  .animate-faculty-resume-list {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .animate-faculty-image {
    animation: zoomIn 1.5s ease-in-out;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
  