.hey{
    margin-top:1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hey .about , .topics{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    background: rgb(34,67,195);
    background: linear-gradient(40deg, rgba(34,67,195,0.15) 0%, rgba(170,48,223,0.15) 100%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    gap:1rem;
    margin: 0.5rem;
}
.home1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.home3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    height: 100vh;
    align-items: center;
}
.home2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.work{
    display: flex;
    flex-direction: column;
    
}
.home4{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.img{
    border-radius: 1.5rem;
    margin: 0.5rem;
}
.box-heading{
    margin-bottom: 1rem;
}
.boxes{
    display: flex;
    flex-direction: column;
}
.topics{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 
.rightarrow{
    width: 2.5rem;
}
.notbox{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
}
.project-image{
    width: 50%;   
}
.heading-of-topics{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    font-size: 3rem;
    text-align: center;
}
.home5{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}